//// variaveis color ////
$color_h1: #fff;
$color_about: #00bdbd;
$color_secundary: #ff675f;
$color_workyear: #ff675f;
$color_rightarea: #eaeaea;
$color_background_excon: #f3f3f3;
$color_border_excon: #eeeeee;
$color_excon_font: #474d5d;
$color_excon_p: #84868d;
$color_experiencia_p: #84868d;
$color_subtitle: #474d5d;
$color_portfolio: #563d7c;
$color_p_contact: #93959c;
$color_background_input: #585f73;
$color_input: #93959c;
$color_menu: #343a40;
$color_black: #000000;

//// variaveis fontes ////
$font_family_1: 'Open Sans';
$font_family_2: sans-serif;


//// Mixin para container ////
@mixin padding-container($padding_top, $padding_bottom){
    padding-top: $padding_top;
    padding-bottom: $padding_bottom;

}

//// Mixin para button ////
@mixin build-button($backgroundcolor, $colortext){
    background-color: transparent;
    color: $backgroundcolor;
    border: 1px solid $backgroundcolor;
    &:hover{
        background-color: $backgroundcolor;
        color: $colortext;
    }
    &:clicked{
        border: 1px solid $backgroundcolor !important;
    }
}

@mixin build-button-colors($backgroundcolor, $colortext){
    background-color: $backgroundcolor;
    color: $colortext;
    border: 1px solid $backgroundcolor;
    &:hover{
        background-color: darken($backgroundcolor, 15%);
        color: $colortext;
    }
}

//// Mixin para background e color ////
@mixin background-color-width($background_color, $color, $width){
    background-color: $background_color;
    color: $color;
    width: $width;
}

@mixin background-color-border($background_color, $color, $border_color){
    background-color: $background_color;
    color: $color;
    border-color: $border_color;
}

//// Mixin para fontes ////
@mixin fonte($size, $line_height, $font_weight){
    font-family: $font_family_1, $font_family_2;
    font-size: $size;
    line-height: $line_height;
    font-weight: $font_weight;
}

@mixin font-size-weight($font_weight, $line_height){
    font-weight: $font_weight;
    line-height: $line_height;
}

//// Mixin para dimensoes ////
@mixin dimensoes($width, $height){
    width: $width;
    height: $height;
}
html, body{
    height: 100%;

}
.full-height{
    height: 100%;
}
//// Navbar ////
.navbar{
    padding: 0px;
    position: fixed;
    width: 100%;
    z-index: 9;
}
.navbar-nav{
    margin: auto;
    margin-right: 0;
}
.nav-link{
    padding: 22px 25px 22px 25px !important;
    margin: auto;
}
.border-red{
    border-bottom: 5px solid $color_secundary;
}

//// General ////
.heading{
    text-align: center;
    padding-bottom: 45px;
}
h5{
    @include fonte(16px, 24px, 400);
    padding-bottom: 6px;
    margin: 0px;
}

//// Home ////
#home{
    height: 902px;
    background-image: url("css3-code.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    .homeContent{
        @include dimensoes(100%, 100%);
        background: rgb(0, 0, 0) transparent;
        background: rgba(0, 0, 0, 0.7);
        .bannerHome{
            position: relative;
            top: 35%;
            margin-left: auto;
            margin-right: auto;
            text-align:center;
            padding:30px 0 30px ;
            max-width:960px;
            color: $color_h1;
            h1{
                text-transform:uppercase;
            }
            .button-portfolio{
                margin-top: 45px;
                @include build-button-colors($color_secundary, $color_h1);
            }
            .button-sobre{
                margin-top: 45px;
                @include build-button-colors($color_about, $color_h1);
            }
            .messages{
                margin-top: 200px;
                font-size: 14px;
                font-weight: 400;
                @media screen and (max-width: 768px) {
                    font-size: 18px;
                }
            }

        } 
    }
    @media sreen and (min-width: 268px) {
        height: 1000px;
        background-image: url("css3-code.jpg");
        background-repeat: no-repeat;
        background-size: 200%;
    }
}

//// Sobre ////
#sobre{
    @include background-color-width($color_about, $color_h1, 100%);
    .container{
        @include padding-container(85px, 93px);
        .occupationArea{
            font-weight: 600;
            font-size: 18px;
            padding-bottom: 22px;
        }
        p{
            @include fonte(14px, 21px, 400);
            padding-bottom: 22px;
            margin: 0px;
        }
        .topimg{
            margin-top: 20px;
        }
    }
    
}

//// Experiencia ////
#experiencia{
    .container{
        @include padding-container(85px, 93px);
    }
    h2{
        color:$color_secundary;
    }
    h4{
        font-weight: 700;
    }
    p{
        color: $color_experiencia_p;
        font-size: 13px;
        line-height: 18px;
    }
    .workDetails{
        .workYear{
            @include background-color-width($color_workyear, $color_h1, 120px);
            text-align: center;
            height: 120px;
            padding: 40px 0 40px 0;
            -webkit-border-radius: 50%;
            border-radius: 50%;
            @media screen and (min-width: 1200px){
                @include dimensoes(140px, 140px);
                padding-top: 50px;
            }
        }
        .rightArea{
            border-left: solid 1px $color_rightarea;
            padding-bottom: 47px;
        }
        .arrowpart{
            @include dimensoes(15px, 50px);
            float: left;
            background: url(../img/arrow-left.png) no-repeat 0 23px;
        }
        .exCon{
            width: auto;
            background: $color_background_excon;
            border-bottom: solid 4px $color_border_excon;
            padding: 22px 47px 6px 47px;
            margin-left: 15px;
            text-align: left;
            h4{
                color: $color_excon_font;
                padding-bottom: 3px;
            }
            h5{
                color: $color_excon_font;
            }
            p{
                color: $color_excon_p;
                line-height: 21px;
            }
        }
    }
    
}

//// Conhecimento ////
#conhecimento{
    .container{
        @include padding-container(85px, 93px);
    }
    .buttons{
        margin-top:30px;
        .skillButton{
            @include build-button($color_secundary, $color_h1);
        }
        .selected{
            background-color: darken($color_secundary, 5%);
            color: $color_h1;
        }
    }
    color: $color_secundary;
    background: $color_border_excon;
    .skillsArea{
        text-align: center;
        .imgPosition{
            margin: 0 auto;
        }
    }
    .skills{
        border-radius: 50%;
        border: 10px solid $color_secundary;
        width: 100%;
        margin-bottom: 23px;
    }
    figcaption{
        @include fonte(19px, 24px, 600);
        color: $color_subtitle;
        text-align: center;
        padding-bottom: 40px;
        margin: 0px;
    }
}

//// Portfolio ////
#portfolio{
    .container{
        @include padding-container(85px, 93px);
    }
    background-color: $color_about;
    color: $color_h1;

    .buttons{
        margin-top:30px;
        .portfolioButton{
            @include background-color-border(transparent, $color_h1, $color_h1);
            &:hover{
                border-color: $color_black;
                color: $color_black;
            }
            
        }
        .selected{
            @include background-color-border(darken($color_about, 20%), $color_h1, darken($color_about, 20%));
            &:hover{
                @include background-color-border(darken($color_about, 20%), $color_h1, darken($color_about, 20%));
            }
        }
    }
    .img-portifolio{
        width: 100%;
        min-height: 175.59px;
        max-height: 175.59px;
    }
}

//// Contato ////
#contato{
    background-color: $color_excon_font;
    color: $color_h1;
    .container{
        @include padding-container(85px, 93px);
    }
    h4{
        font-weight: 600;
        text-transform: uppercase;
        padding-bottom: 15px;
    }
    p{
        color: $color_p_contact;
        font-family: $font_family_1, $font_family_2;
        font-size: 13px;
        line-height: 19px;
        padding-bottom: 14px;
        margin:0;
    }
    form{
        .estiloInput{
            @include background-color-width($color_background_input, $color_input, 100%);
            padding: 15px 30px;
            border: none;
            margin-right: 3%;
            margin-bottom: 30px;
            outline: none;
            font-style: italic;
        }
    }
}

//// Footer ////
footer{
    background-color: $color_menu;
    padding: 25px;
    ul{
        margin: 0 auto;
        text-align: center;
        list-style-type: none;
        li{
            @include background-color-width($color_h1, $color_menu, 42px !important);
            @include font-size-weight(bold, 42px);
            cursor: pointer;
            display: inline-block;
            text-align: center;
            margin: 0 6px;
            border-radius: 50%;
            height: 42px !important;
            &:hover{
                background-color: darken($color_menu, 10%);
                color: $color_h1;
            }
            a{
                color: $color_menu;
                &:hover{
                    color: $color_h1;
                }
                i{
                    line-height: 42px !important;
                    font-size: 30px;
                }
            }
        }
        
    }
}