$color_h1: #fff;
$color_about: #00bdbd;
$color_secundary: #ff675f;
$color_workyear: #ff675f;
$color_rightarea: #eaeaea;
$color_background_excon: #f3f3f3;
$color_border_excon: #eeeeee;
$color_excon_font: #474d5d;
$color_excon_p: #84868d;
$color_experiencia_p: #84868d;
$color_subtitle: #474d5d;
$color_portfolio: #563d7c;
$color_p_contact: #93959c;
$color_background_input: #585f73;
$color_input: #93959c;


//// Mixins ////
@mixin padding-container($padding_top, $padding_bottom){
    padding-top: $padding_top;
    padding-bottom: $padding_bottom;

}
@mixin build-button($backgroundcolor, $colortext){
    background-color: transparent;
    color: $backgroundcolor;
    border: 1px solid $backgroundcolor;
    &:hover{
        background-color: $backgroundcolor;
        color: $colortext;
    }
    &:clicked{
        border: 1px solid $backgroundcolor !important;
    }
}
.navbar{
    padding: 0px;
    position: fixed;
    width: 100%;
    z-index: 9;
}
.navbar-nav{
    margin: auto;
    margin-right: 0;
}
.nav-link{
    padding: 22px 25px 22px 25px !important;
    margin: auto;
}
.border-red{
    border-bottom: 5px solid $color_secundary;
}

//// General ////
.heading{
    text-align: center;
    padding-bottom: 45px;
}
h5{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 6px;
    font-weight: 400;
    margin: 0px;
}
#home{
    height: 902px;
    background-image: url("css3-code.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    .homeContent{
        width: 100%;
        height: 100%;
        background: rgb(0, 0, 0) transparent;
        background: rgba(0, 0, 0, 0.7);
        .bannerHome{
            position: relative;
            top: 35%;
            margin-left: auto;
            margin-right: auto;
            text-align:center;
            padding:30px 0 30px ;
            max-width:960px;
            border:1px solid $color_h1;
            color: $color_h1;
            h1{
                text-transform:uppercase;
            }
        }
    }
}
#sobre{
    background-color: $color_about;
    color: $color_h1;
    width: 100%;
    .container{
        @include padding-container(85px, 93px);
        .occupationArea{
            font-weight: 600;
            font-size: 18px;
            padding-bottom: 22px;
        }
        p{
            font-family: 'Open Sans', sans-serif;
            font-size: 14px;
            line-height: 21px;
            font-weight: 400;
            padding-bottom: 22px;
            margin: 0px;
        }
        .topimg{
            margin-top: 20px;
        }
    }
    
}

#experiencia{
    .container{
        @include padding-container(85px, 93px);
    }
    h2{
        color:$color_secundary;
    }
    h4{
        font-weight: 700;
    }
    p{
        color: $color_experiencia_p;
        font-size: 13px;
        line-height: 18px;
    }
    .workDetails{
        .workYear{
            color: $color_h1;
            background: $color_workyear;
            text-align: center;
            width: 120px;
            height: 120px;
            padding: 40px 0 40px 0;
            -webkit-border-radius: 50%;
            border-radius: 50%;
            @media screen and (min-width: 1200px){
                width: 140px;
                height: 140px;
                padding-top: 50px;
            }
        }
        .rightArea{
            border-left: solid 1px $color_rightarea;
            padding-bottom: 47px;
        }
        .arrowpart{
            float: left;
            width: 15px;
            height: 50px;
            background: url(../img/arrow-left.png) no-repeat 0 23px;
        }
        .exCon{
            width: auto;
            background: $color_background_excon;
            border-bottom: solid 4px $color_border_excon;
            padding: 22px 47px 6px 47px;
            margin-left: 15px;
            text-align: left;
            h4{
                color: $color_excon_font;
                padding-bottom: 3px;
            }
            h5{
                color: $color_excon_font;
            }
            p{
                color: $color_excon_p;
                line-height: 21px;
            }
        }
    }
    
}

#conhecimento{
    .container{
        @include padding-container(85px, 93px);
    }
    .buttons{
        margin-top:30px;
        .skillButton{
            @include build-button($color_secundary, $color_h1);
        }
        .selected{
            background-color: darken($color_secundary, 5%);
            color: $color_h1;
        }
    }
    color: $color_secundary;
    background: $color_border_excon;
    .skillsArea{
        text-align: center;
        .imgPosition{
            margin: 0 auto;
        }
    }
    .skills{
        border-radius: 50%;
        border: 10px solid $color_secundary;
        width: 100%;
        margin-bottom: 23px;
    }
    figcaption{
        color: $color_subtitle;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-size: 19px;
        line-height: 24px;
        padding-bottom: 40px;
        font-weight: 600;
        margin: 0px;
    }
}

#portfolio{
    .container{
        @include padding-container(85px, 93px);
    }
    background-color: $color_about;
    color: $color_h1;

    .buttons{
        margin-top:30px;
        .portfolioButton{
            background-color: transparent;
            color: $color_h1;
            border-color: $color_h1;
            &:hover{
                border-color: #000000;
                color: #000000;
            }
            
        }
        .selected{
            background-color: darken($color_about, 20%);
            color: $color_h1;
            border-color: darken($color_about, 20%);
            &:hover{
                background-color: darken($color_about, 20%);
                color: $color_h1;
                border-color: darken($color_about, 20%);
            }
        }
    }
    .img-portifolio{
        width: 100%;
        min-height: 175.59px;
        max-height: 175.59px;
    }
}

#contato{
    background-color: $color_excon_font;
    color: $color_h1;
    .container{
        @include padding-container(85px, 93px);
    }
    h4{
        font-weight: 600;
        text-transform: uppercase;
        padding-bottom: 15px;
    }
    p{
        color: $color_p_contact;
        font-family: 'Open Sans', sans-serif;
        font-size: 13px;
        line-height: 19px;
        padding-bottom: 14px;
        margin:0;
    }
    form{
        .estiloInput{
            background-color: $color_background_input;
            color: $color_input;
            padding: 15px 30px;
            border: none;
            margin-right: 3%;
            margin-bottom: 30px;
            outline: none;
            font-style: italic;
            width: 100%;
        }
    }
}

footer{
    background-color: $color_about;
    .container{
        @include padding-container(85px, 93px);
    }
    ul{
        margin: 0 auto;
        text-align: center;
        list-style-type: none;
        li{
            display: inline-block;
            text-align: center;
            background: #ffffff;
            color: #00bdbd;
            line-height: 42px;
            margin: 0 6px;
            width: 42px !important;
            height: 42px !important;
            -webkit-border-radius: 50%;
            border-radius: 50%;
            a{
                color: #ffffff;
                width: 42px !important;
                height: 42px !important;
                i{
                    line-height: 42px !important;
                }
            }
        }
    }
}